<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to Our Website</h1>
        <p>Here are some interesting facts:</p>
        <ul>
            <li>The Eiffel Tower can be 15 cm taller during the summer due to heat expansion.</li>
            <li>Bananas are berries, but strawberries aren't.</li>
            <li>Octopuses have three hearts.</li>
        </ul>
    </div>
</body>
</html>
